soapTest/src/main/resources/insisCSM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InsisCSM" targetNamespace="http://fadata.eu/soap/insis/csm"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://fadata.eu/soap/insis/csm"
             xmlns:insis="http://www.fadata.bg/Insurance_Messages/v3.0/xml/"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512"
             xmlns:ibase="http://fadata.eu/soap/insis">
    <import location="insisAbstractBase.wsdl"
            namespace="http://fadata.eu/soap/insis"/>
    <types>
        <xs:schema targetNamespace="http://www.fadata.bg/Insurance_Messages/v3.0/xml/"
                   elementFormDefault="qualified">
            <xs:include schemaLocation="xsd/insis/Insis_CSM_v3.0.xsd"/>
        </xs:schema>
    </types>
    <message name="CalculateClaimServiceRqMessage">
        <part name="payload" element="insis:CalculateClaimServiceRq"/>
    </message>
    <message name="CalculateClaimServiceRsMessage">
        <part name="payload" element="insis:CalculateClaimServiceRs"/>
    </message>
    <message name="CalculateClaimIndemnityRqMessage">
        <part name="payload" element="insis:CalculateClaimIndemnityRq"/>
    </message>
    <message name="CalculateClaimIndemnityRsMessage">
        <part name="payload" element="insis:CalculateClaimIndemnityRs"/>
    </message>
    <message name="CancelClaimObjectRqMessage">
        <part name="payload" element="insis:CancelClaimObjectRq"/>
    </message>
    <message name="CancelClaimObjectRsMessage">
        <part name="payload" element="insis:CancelClaimObjectRs"/>
    </message>
    <message name="CancelClaimPaymentRqMessage">
        <part name="payload" element="insis:CancelClaimPaymentRq"/>
    </message>
    <message name="CancelClaimPaymentRsMessage">
        <part name="payload" element="insis:CancelClaimPaymentRs"/>
    </message>
    <message name="CancelClaimRequestRqMessage">
        <part name="payload" element="insis:CancelClaimRequestRq"/>
    </message>
    <message name="CancelClaimRequestRsMessage">
        <part name="payload" element="insis:CancelClaimRequestRs"/>
    </message>
    <message name="CancelClaimRqMessage">
        <part name="payload" element="insis:CancelClaimRq"/>
    </message>
    <message name="CancelClaimRsMessage">
        <part name="payload" element="insis:CancelClaimRs"/>
    </message>
    <message name="CancelWriteOffRecoveryPaymentRqMessage">
        <part name="payload" element="insis:CancelWriteOffRecoveryPaymentRq"/>
    </message>
        <message name="CancelWriteOffRecoveryPaymentRsMessage">
        <part name="payload" element="insis:CancelWriteOffRecoveryPaymentRs"/>
    </message>
    <message name="ConfirmClaimPaymentRqMessage">
        <part name="payload" element="insis:ConfirmClaimPaymentRq"/>
    </message>
    <message name="ConfirmClaimPaymentRsMessage">
        <part name="payload" element="insis:ConfirmClaimPaymentRs"/>
    </message>
    <message name="ConfirmClaimServiceRqMessage">
        <part name="payload" element="insis:ConfirmClaimServiceRq"/>
    </message>
    <message name="ConfirmClaimServiceRsMessage">
        <part name="payload" element="insis:ConfirmClaimServiceRs"/>
    </message>
    <message name="ConfirmClaimRecoveryRqMessage">
        <part name="payload" element="insis:ConfirmClaimRecoveryRq"/>
    </message>
    <message name="ConfirmClaimRecoveryRsMessage">
        <part name="payload" element="insis:ConfirmClaimRecoveryRs"/>
    </message>    
    <message name="DeleteClaimRecoveryRqMessage">
        <part name="payload" element="insis:DeleteClaimRecoveryRq"/>
    </message>
    <message name="DeleteClaimRecoveryRsMessage">
        <part name="payload" element="insis:DeleteClaimRecoveryRs"/>
    </message>    
    <message name="FindClaimRqMessage">
        <part name="payload" element="insis:FindClaimRq"/>
    </message>
    <message name="FindClaimRsMessage">
        <part name="payload" element="insis:FindClaimRs"/>
    </message>
    <message name="FindClaimHltRqMessage">
        <part name="payload" element="insis:FindClaimHltRq"/>
    </message>
    <message name="FindClaimHltRsMessage">
        <part name="payload" element="insis:FindClaimHltRs"/>
    </message>
    <message name="FindPolicyClaimsRqMessage">
        <part name="payload" element="insis:FindPolicyClaimsRq"/>
    </message>
    <message name="FindPolicyClaimsRsMessage">
        <part name="payload" element="insis:FindPolicyClaimsRs"/>
    </message>    
    <message name="FindClaimRecoveryRqMessage">
        <part name="payload" element="insis:FindClaimRecoveryRq"/>
    </message>
    <message name="FindClaimRecoveryRsMessage">
        <part name="payload" element="insis:FindClaimRecoveryRs"/>
    </message>    
    <message name="FindRecoveryPaymentRqMessage">
        <part name="payload" element="insis:FindRecoveryPaymentRq"/>
    </message>
    <message name="FindRecoveryPaymentRsMessage">
        <part name="payload" element="insis:FindRecoveryPaymentRs"/>
    </message>    
    <message name="FNOLRqMessage">
        <part name="payload" element="insis:FNOLRq"/>
    </message>
    <message name="FNOLRsMessage">
        <part name="payload" element="insis:FNOLRs"/>
    </message>
    <message name="GetClaimDocumentsRqMessage">
        <part name="payload" element="insis:GetClaimDocumentsRq"/>
    </message>
    <message name="GetClaimDocumentsRsMessage">
        <part name="payload" element="insis:GetClaimDocumentsRs"/>
    </message>
    <message name="InvalidateClaimRequestRqMessage">
        <part name="payload" element="insis:InvalidateClaimRequestRq"/>
    </message>
    <message name="InvalidateClaimRequestRsMessage">
        <part name="payload" element="insis:InvalidateClaimRequestRs"/>
    </message>
    <message name="InvalidateClaimRecoveryRqMessage">
        <part name="payload" element="insis:InvalidateClaimRecoveryRq"/>
    </message>
    <message name="InvalidateClaimRecoveryRsMessage">
        <part name="payload" element="insis:InvalidateClaimRecoveryRs"/>
    </message>
    <message name="RegisterClaimRqMessage">
        <part name="payload" element="insis:RegisterClaimRq"/>
    </message>
    <message name="RegisterClaimRsMessage">
        <part name="payload" element="insis:RegisterClaimRs"/>
    </message>
    <message name="RegisterClaimHltRqMessage">
        <part name="payload" element="insis:RegisterClaimHltRq"/>
    </message>
    <message name="RegisterClaimHltRsMessage">
        <part name="payload" element="insis:RegisterClaimHltRs"/>
    </message>
    <message name="RegisterClaimDocRqMessage">
        <part name="payload" element="insis:RegisterClaimDocRq"/>
    </message>
    <message name="RegisterClaimDocRsMessage">
        <part name="payload" element="insis:RegisterClaimDocRs"/>
    </message>
    <message name="RegisterClaimEvaluationRqMessage">
        <part name="payload" element="insis:RegisterClaimEvaluationRq"/>
    </message>
    <message name="RegisterClaimEvaluationRsMessage">
        <part name="payload" element="insis:RegisterClaimEvaluationRs"/>
    </message>
    <message name="RegisterClaimExpenseRqMessage">
        <part name="payload" element="insis:RegisterClaimExpenseRq"/>
    </message>
    <message name="RegisterClaimExpenseRsMessage">
        <part name="payload" element="insis:RegisterClaimExpenseRs"/>
    </message>
    <message name="RegisterClaimPaymentRqMessage">
        <part name="payload" element="insis:RegisterClaimPaymentRq"/>
    </message>
    <message name="RegisterClaimPaymentRsMessage">
        <part name="payload" element="insis:RegisterClaimPaymentRs"/>
    </message>
    <message name="RegisterClaimRecoveryRqMessage">
        <part name="payload" element="insis:RegisterClaimRecoveryRq"/>
    </message>
    <message name="RegisterClaimRecoveryRsMessage">
        <part name="payload" element="insis:RegisterClaimRecoveryRs"/>
    </message>    
    <message name="RegisterClaimRegressRqMessage">
        <part name="payload" element="insis:RegisterClaimRegressRq"/>
    </message>
    <message name="RegisterClaimRegressRsMessage">
        <part name="payload" element="insis:RegisterClaimRegressRs"/>
    </message>    	
	<message name="SubmitClaimRecoveryRqMessage">
        <part name="payload" element="insis:SubmitClaimRecoveryRq"/>
    </message>
    <message name="SubmitClaimRecoveryRsMessage">
        <part name="payload" element="insis:SubmitClaimRecoveryRs"/>
    </message> 
	<message name="UnSubmitClaimRecoveryRqMessage">
        <part name="payload" element="insis:UnSubmitClaimRecoveryRq"/>
    </message>
    <message name="UnSubmitClaimRecoveryRsMessage">
        <part name="payload" element="insis:UnSubmitClaimRecoveryRs"/>
    </message>
    <message name="UpdateClaimRqMessage">
        <part name="payload" element="insis:UpdateClaimRq"/>
    </message>
    <message name="UpdateClaimRsMessage">
        <part name="payload" element="insis:UpdateClaimRs"/>
    </message>    
    <message name="UpdateClaimRecoveryRqMessage">
        <part name="payload" element="insis:UpdateClaimRecoveryRq"/>
    </message>
    <message name="UpdateClaimRecoveryRsMessage">
        <part name="payload" element="insis:UpdateClaimRecoveryRs"/>
    </message>
    <message name="WriteOffClaimRecoveryRqMessage">
        <part name="payload" element="insis:WriteOffClaimRecoveryRq"/>
    </message>
    <message name="WriteOffClaimRecoveryRsMessage">
        <part name="payload" element="insis:WriteOffClaimRecoveryRs"/>
    </message>    
    <message name="WriteOffRecoveryPaymentRqMessage">
        <part name="payload" element="insis:WriteOffRecoveryPaymentRq"/>
    </message>
    <message name="WriteOffRecoveryPaymentRsMessage">
        <part name="payload" element="insis:WriteOffRecoveryPaymentRs"/>
    </message>
    <portType name="InsisCSMPort"> 
        <operation name="calculateClaimService">
            <input message="tns:CalculateClaimServiceRqMessage"/>
            <output message="tns:CalculateClaimServiceRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="calculateClaimIndemnity">
            <input message="tns:CalculateClaimIndemnityRqMessage"/>
            <output message="tns:CalculateClaimIndemnityRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="cancelClaimObject">
            <input message="tns:CancelClaimObjectRqMessage"/>
            <output message="tns:CancelClaimObjectRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="cancelClaimPayment">
            <input message="tns:CancelClaimPaymentRqMessage"/>
            <output message="tns:CancelClaimPaymentRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="cancelClaimRequest">
            <input message="tns:CancelClaimRequestRqMessage"/>
            <output message="tns:CancelClaimRequestRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="cancelClaim">
            <input message="tns:CancelClaimRqMessage"/>
            <output message="tns:CancelClaimRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>        
        <operation name="cancelWriteOffRecoveryPayment">
            <input message="tns:CancelWriteOffRecoveryPaymentRqMessage"/>
            <output message="tns:CancelWriteOffRecoveryPaymentRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>          
        <operation name="confirmClaimPayment">
            <input message="tns:ConfirmClaimPaymentRqMessage"/>
            <output message="tns:ConfirmClaimPaymentRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation> 
        <operation name="confirmClaimService">
            <input message="tns:ConfirmClaimServiceRqMessage"/>
            <output message="tns:ConfirmClaimServiceRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>        
        <operation name="confirmClaimRecovery">
            <input message="tns:ConfirmClaimRecoveryRqMessage"/>
            <output message="tns:ConfirmClaimRecoveryRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="deleteClaimRecovery">
            <input message="tns:DeleteClaimRecoveryRqMessage"/>
            <output message="tns:DeleteClaimRecoveryRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="findClaim">
            <input message="tns:FindClaimRqMessage"/>
            <output message="tns:FindClaimRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="findClaimHlt">
            <input message="tns:FindClaimHltRqMessage"/>
            <output message="tns:FindClaimHltRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="findPolicyClaims">
            <input message="tns:FindPolicyClaimsRqMessage"/>
            <output message="tns:FindPolicyClaimsRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>        
        <operation name="findClaimRecovery">
            <input message="tns:FindClaimRecoveryRqMessage"/>
            <output message="tns:FindClaimRecoveryRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="findRecoveryPayment">
            <input message="tns:FindRecoveryPaymentRqMessage"/>
            <output message="tns:FindRecoveryPaymentRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="FNOL">
            <input message="tns:FNOLRqMessage"/>
            <output message="tns:FNOLRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="getClaimDocuments">
            <input message="tns:GetClaimDocumentsRqMessage"/>
            <output message="tns:GetClaimDocumentsRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="invalidateClaimRequest">
            <input message="tns:InvalidateClaimRequestRqMessage"/>
            <output message="tns:InvalidateClaimRequestRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="invalidateClaimRecovery">
            <input message="tns:InvalidateClaimRecoveryRqMessage"/>
            <output message="tns:InvalidateClaimRecoveryRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="registerClaim">
            <input message="tns:RegisterClaimRqMessage"/>
            <output message="tns:RegisterClaimRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="registerClaimHlt">
            <input message="tns:RegisterClaimHltRqMessage"/>
            <output message="tns:RegisterClaimHltRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="registerClaimDoc">
            <input message="tns:RegisterClaimDocRqMessage"/>
            <output message="tns:RegisterClaimDocRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="registerClaimEvaluation">
            <input message="tns:RegisterClaimEvaluationRqMessage"/>
            <output message="tns:RegisterClaimEvaluationRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="registerClaimExpense">
            <input message="tns:RegisterClaimExpenseRqMessage"/>
            <output message="tns:RegisterClaimExpenseRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="registerClaimPayment">
            <input message="tns:RegisterClaimPaymentRqMessage"/>
            <output message="tns:RegisterClaimPaymentRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="registerClaimRecovery">
            <input message="tns:RegisterClaimRecoveryRqMessage"/>
            <output message="tns:RegisterClaimRecoveryRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="registerClaimRegress">
            <input message="tns:RegisterClaimRegressRqMessage"/>
            <output message="tns:RegisterClaimRegressRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>		
		<operation name="submitClaimRecovery">
            <input message="tns:SubmitClaimRecoveryRqMessage"/>
            <output message="tns:SubmitClaimRecoveryRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>		
		<operation name="unSubmitClaimRecovery">
            <input message="tns:UnSubmitClaimRecoveryRqMessage"/>
            <output message="tns:UnSubmitClaimRecoveryRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>		
        <operation name="updateClaim">
            <input message="tns:UpdateClaimRqMessage"/>
            <output message="tns:UpdateClaimRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>        
        <operation name="updateClaimRecovery">
            <input message="tns:UpdateClaimRecoveryRqMessage"/>
            <output message="tns:UpdateClaimRecoveryRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="writeOffClaimRecovery">
            <input message="tns:WriteOffClaimRecoveryRqMessage"/>
            <output message="tns:WriteOffClaimRecoveryRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="writeOffRecoveryPayment">
            <input message="tns:WriteOffRecoveryPaymentRqMessage"/>
            <output message="tns:WriteOffRecoveryPaymentRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
    </portType>
    <binding name="InsisCSMPortBinding" type="tns:InsisCSMPort">
        <wsp:PolicyReference URI="#policy-kerberos-or-unt"/>
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="calculateClaimService">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="calculateClaimIndemnity">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="cancelClaimObject">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="cancelClaimPayment">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="cancelClaimRequest">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="cancelClaim">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="cancelWriteOffRecoveryPayment">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="confirmClaimPayment">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation> 
        <operation name="confirmClaimService">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="confirmClaimRecovery">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="deleteClaimRecovery">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="findClaim">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="findClaimHlt">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="findPolicyClaims">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="findClaimRecovery">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="findRecoveryPayment">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="FNOL">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="getClaimDocuments">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="invalidateClaimRequest">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="invalidateClaimRecovery">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="registerClaim">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="registerClaimHlt">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="registerClaimDoc">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="registerClaimEvaluation">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="registerClaimExpense">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="registerClaimPayment">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="registerClaimRecovery">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="registerClaimRegress">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
		<operation name="submitClaimRecovery">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>		
		<operation name="unSubmitClaimRecovery">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>		
        <operation name="updateClaim">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="updateClaimRecovery">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="writeOffClaimRecovery">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="writeOffRecoveryPayment">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>

    </binding>
    <service name="InsisCSM">
        <port name="InsisCSMPort" binding="tns:InsisCSMPortBinding">
            <soap:address location="http://localhost:7001/insis-soapws/InsisCSMPort"/>
        </port>
    </service>
</definitions>